<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>EmpleosApp | List of Job Applications</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet" >
</head>

<body>

<header th:insert="~{fragments/menu :: menu-initial}"></header>

<main role="main">
  <hr>
  <div class="container">

    <div class="card">
      <h4 class="card-header"><strong>List of Job Applications</strong></h4>
      <div class="card-body">
        <div th:if="${message != null}" class='alert alert-success' th:text="${message}" role='alert'></div>
        <table class="table table-hover">
          <thead class="thead-light">
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Vacancy</th>
            <th scope="col">Candidate Name</th>
            <th scope="col">Received</th>
            <th scope="col">Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="request : ${requests.content}">
            <td th:text="${request.vacancy.category.name}"></td>
            <td th:text="${request.vacancy.name}"></td>
            <td th:text="${request.user.name}"></td>
            <td th:text="${request.date}"></td>
            <td>
              <a th:href="@{/request/delete/{id} (id=${request.id})}" class="btn btn-success btn-sm confirm" role="button" title="Delete the record.">
                <i class="fas fa-trash" aria-hidden="true"></i>
              </a>
              <a th:href="@{/cv/{file} (file=${request.file})}" target="_blank" class="btn btn-success btn-sm" role="button" title="Download Resume.">
                <i class="fas fa-download" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <nav th:if="${requests.totalPages > 0}" aria-label="Page navigation example" >
          <ul class="pagination">
            <li class="page-item"><a th:href="@{/requests/indexPaginate(page=${requests.number - 1})}" class="page-link">Previous</a></li>
            <li class="page-item"><a th:href="@{/requests/indexPaginate(page=${requests.number + 1})}" class="page-link">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div> <!-- /container -->

</main>

<footer th:insert="~{fragments/footer :: footer-fragment}" class="footer"></footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

<script>

  // Store in a variable a function that shows a confirm dialog box
  var confirmDialog = function (e) {
    if (!confirm('Do you really want to delete the record?'))
      e.preventDefault();
  };

  // Apply to all HTML elements with the CSS class 'confirm' the click event to show the confirmation dialog box.
  document.querySelectorAll('.confirm').forEach(function(element) {
    element.addEventListener('click', confirmDialog, false);
  });

</script>

</body>
</html>
