<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<title>JobsApp | Application to Post Job Offers.</title>
	<!-- Bootstrap core CSS -->
	<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link th:href="@{bootstrap/css/jumbotron.css}" rel="stylesheet">
	<link th:href="@{bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>

<body>

<header th:insert="~{fragments/menu :: menu-initial}"></header>

<main role="main">

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h3>Find the job you are looking for.</h3>
			You can search by description and category.
			<form class="form-inline" th:action="@{/search}" method="get" th:object="${search}">
				<input th:field="*{description}" type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Type a search">&nbsp;
				<label>
					<select th:field="*{category.id}" class="custom-select custom-select mb-3">
						<option th:value="${null}" selected>Select a category</option>
						<option th:each="category : ${categories}"
								th:value="${category.id}"
								th:text="${category.name}"></option>
					</select>
				</label>&nbsp;
				<button type="submit" class="btn btn-primary mb-3">Search</button>
			</form>
		</div>
	</div>
	<hr>

	<div class="container">
		<h2 class="font-weight-bold text-center text-capitalize">FEATURED</h2>
		<div th:if="${message != null}" class='alert alert-success' th:text="${message}" role='alert'></div>
		<hr>
		<div class="row" th:each="vacancy : ${vacancies}">
			<div class="col-md-3">
				<img class="rounded mx-auto d-block" th:src="@{/images/{img}(img=${vacancy.image})}" alt="Generic placeholder image" width="220" height="220">
			</div>
			<div class="col-md-9">
				<h2 th:text="${vacancy.name}"></h2>
				<h6 class="card-title"><strong>Category: </strong> <span th:text="${vacancy.category.name}"></span></h6>
				<h6 class="card-title"><strong>Published: </strong> <span th:text="${vacancy.date}"></span></h6>
				<p th:text="${vacancy.description}"></p>
				<p><a class="btn btn-secondary" th:href="@{/vacancy/view/{id} (id=${vacancy.id})  }" role="button">View details &raquo;</a></p>
			</div>
		</div>
		<hr>
	</div>

</main>

<footer th:insert="~{fragments/footer :: footer-fragment}" class="footer"></footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}" src=""></script>
</body>
</html>
